<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IPIOService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8733/PIO/Service" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IPIOService" contract="PIOServiceReference.IPIOService"
                name="BasicHttpBinding_IPIOService" />
        </client>
    </system.serviceModel>
</configuration>