<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IBotsService" />
            </basicHttpBinding>
         </bindings>
        <client>
            <endpoint address="http://localhost:8734/PIO/Bots/Service" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IBotsService" contract="BotsServiceReference.IBotsService"
                name="BasicHttpBinding_IBotsService" />
        </client>
    </system.serviceModel>
</configuration>