<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PIO.Bots.ServerHost.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<system.serviceModel>
		<bindings>
			<basicHttpBinding>
				<binding name="BasicHttpBinding_IPIOService" />
			</basicHttpBinding>
		</bindings>
		<client>
			<endpoint address="http://localhost:8733/PIO/Service" binding="basicHttpBinding"
					bindingConfiguration="BasicHttpBinding_IPIOService" contract="PIOServiceReference.IPIOService"
					name="BasicHttpBinding_IPIOService" />
		</client>
		
		<services>
			<service name="PIO.Bots.WebServiceLib.BotsService">
				<endpoint address="" binding="basicHttpBinding" contract="PIO.Bots.Models.IBotsService">
					<identity>
						<dns value="localhost" />
					</identity>
				</endpoint>
				<endpoint address="/mex" binding="mexHttpBinding" contract="IMetadataExchange" />
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost:8734/PIO/Bots/Service" />
					</baseAddresses>
				</host>
			</service>
		</services>
		<behaviors>
			<serviceBehaviors>
				<behavior>
					<!-- Pour éviter la divulgation d'informations de métadonnées, 
          définissez les valeurs ci-dessous sur false avant le déploiement -->
					<serviceMetadata httpGetEnabled="True" httpsGetEnabled="True"/>
					<!-- Pour recevoir les détails de l'exception dans les erreurs à des fins de débogage, 
          définissez la valeur ci-dessous sur true.  Pour éviter la divulgation d'informations d'exception, 
          définissez-la sur false avant le déploiement -->
					<serviceDebug includeExceptionDetailInFaults="False" />
				</behavior>
			</serviceBehaviors>
		</behaviors>
	</system.serviceModel>
	<userSettings>
        <PIO.Bots.ServerHost.Properties.Settings>
               <setting name="UnicastPort" serializeAs="String">
                      <value>2021</value>
               </setting>
               <setting name="BotsServerAddress" serializeAs="String">
                      <value>127.0.0.1</value>
               </setting>
               <setting name="Server" serializeAs="String">
                      <value>.\SQLEXPRESS</value>
               </setting>
               <setting name="DropDatabase" serializeAs="String">
                      <value>True</value>
               </setting>
               <setting name="DatabaseName" serializeAs="String">
                      <value>PIO_Bots</value>
               </setting>
        </PIO.Bots.ServerHost.Properties.Settings>
    </userSettings>
</configuration>