<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
		<system.serviceModel>
			<bindings>
				<basicHttpBinding>
					<binding name="BasicHttpBinding_IPIOService" />
					<binding name="BasicHttpBinding_IBotsService" />
				</basicHttpBinding>
			</bindings>
			<client>
				<endpoint address="http://localhost:8733/PIO/Service" binding="basicHttpBinding"
						bindingConfiguration="BasicHttpBinding_IPIOService" contract="PIOServiceReference.IPIOService"
						name="BasicHttpBinding_IPIOService" />
				<endpoint address="http://localhost:8734/PIO/Bots/Service" binding="basicHttpBinding"
						bindingConfiguration="BasicHttpBinding_IBotsService" contract="BotsServiceReference.IBotsService"
						name="BasicHttpBinding_IBotsService" />
			</client>

		</system.serviceModel>
</configuration>